/* .titlename{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 1px 1px 1px 1px;
} */


.title {
  font-size: 60px;
  font-weight: bolder;
  color: #9A99FF;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  -moz-text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  -webkit-text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.asidetitle {
  font-size: 30px;
  padding-left: 20px;
}

.modaktitle{
  font-size: 17px;
  line-height: 30px;

}

.firsttitle{
  font-size: 18px;
  font-weight: bold;
  
}